@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

.cart {
  /* padding-top: 80px; */
  margin-top: 80px;
  min-height: 700px;
  display: flex;
  flex-direction: row;
  width: 100% !important;
}
.cart__left {
  flex: 1;
}
.cart__empty {
  font-family: "Akaya Telivigala", cursive;
}
.cart__button {
  display: flex;
  width: 80%;
  flex-direction: row;
}
.MuiButtonBase-root {
  font-size: 18px !important;
}
.MuiButton-text {
  font-size: 18px !important;
  font-weight: 700 !important;
  padding: 0px !important;
}
.mrp,
.price {
  color: #b12704;
}
.cart__addRemoveButton {
  display: flex;
  flex-direction: row;
  width: 30%;
}
.cart__addRemoveButton > input,
.cartValue {
  width: 50px;
  border: none;
  outline: none;
  align-items: center;
  padding-left: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}
.cartValue:hover {
  cursor: no-drop;
}
.cartValue:focus {
  cursor: default;
}
.cart__size {
  display: flex;
  flex-direction: row;
}
.cancelIcon {
  color: red;
  cursor: pointer;
  margin-top: 10px;
  font-size: 24px !important;
}
.MuiDivider-root,
.MuiDivider-inset {
  margin-top: 10px !important;
  background-color: rgba(192, 192, 192, 0.5) !important;
}
.display__left {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0.2;
}
.display__right {
  flex: 0.8;
}
.MuiListItemText-primary {
  font-size: 24px !important;
  font-weight: 999 !important;
  font-variant: normal;
  letter-spacing: 1.2px !important;
  font-family: "Roboto", sans-serif;
}
.product__image {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.product__price {
  width: 50% !important;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
}

.mrp {
  color: black;
  font-size: 13px;
  margin-top: 10px;
}
.cart__size {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.cart__typographySize {
  padding-top: 15px;
  color: black;
  font-size: 18px !important;
}
@media (max-width: 991px) {
  .cart {
    min-height: 460px;
  }
  .display__left {
    flex: 0;
  }
  .display__right {
    flex: 1;
    width: 100%;
  }
  .MuiListItemText-primary {
    font-size: 14px !important;
    font-weight: 999 !important;
    letter-spacing: 1px !important;
    left: 0;
    font-family: "Roboto", sans-serif;
  }
  .makeStyles-list-8 {
    padding-left: 15px !important;
  }
  .MuiListItem-gutters {
    padding-left: 0px !important;
  }
  .mrp {
    color: black;
    font-size: 13px;
    margin-top: 2px;
  }
  .cart__button {
    display: flex;
    width: 80%;
    flex-direction: row;
  }
  .product__image {
    left: 0;
    align-items: flex-start;
    padding-left: 5px;
  }
  .product__price {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 6px;
    margin-left: 10px;
    padding: 5px;
  }

  .product__mrp {
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .mrp,
  .price {
    color: #b12704;
  }

  .productPrice {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .product__priceSave {
    margin-top: 3px;
    font-size: 11px;
    font-weight: 555;
    letter-spacing: 0.6px;
  }
  .cart__addRemoveButton {
    width: 100%;
  }
}
