table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  min-width: 100px;
}
ul {
  text-align: left;
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px;
}
ol {
  text-align: left;
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px;
}
.loading {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100px !important;
  height: 100px !important;
}
