.carousel {
  height: 400px;
  width: 250px;
}
.card__img {
  height: 250px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: "transparent";
}
.detail {
  text-align: center;
}
@media (max-width: 991px) {
  .template-carousel {
    height: 400px !important;
    /* width: 280px !important; */
  }

  .card__img {
    height: 250px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: "transparent";
    width: 50%;
  }
}
