.pendingorders__main {
  padding: 20px 80px;
  min-height: 700px;
  background-color: rgb(234, 237, 237);
}
.pendingorders__heading {
  padding-top: 70px;
  font-size: 30px;
  font-weight: 999;
  margin: 20px 0;
}
@media (max-width: 991px) {
  .pendingorders__main {
    padding: 5px 10px;
    min-height: 700px;
    background-color: rgb(234, 237, 237);
  }
  .pendingorders__heading {
    padding-top: 70px;
    font-size: 20px;
    font-weight: 999;
    margin: 10px 0;
  }
}
