@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.read-more-less--more,
.read-more-less--less {
  color: #999;
}
.content-css {
  width: 100%;
}
.my-anchor-css-class {
  overflow-wrap: break-word !important;
  /* word-wrap: break-word !important; */
  hyphens: auto !important;
}
.description {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  flex: 1;
  /* margin-bottom: 80px; */
}

.description__left {
  display: flex;
  flex-direction: column;
  flex: 0.4;
}
.description__imageContainer {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 100px;
}

.description__image {
  height: 500px;
  cursor: pointer;
}

.description__right {
  flex: 0.5;
}

.product__title {
  cursor: pointer;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: "Source Sans Pro", sans-serif;
}

.product__brand {
  font-size: 18px;
  margin-top: 15px;
  color: #007185;
  /* padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); */
  letter-spacing: 1px;
}
.brand__name {
  cursor: pointer;
}

.product__rating {
  margin-top: 7px;
  margin-left: 15px;
}
.MuiDivider-root {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.description__product__price {
  display: flex !important;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
}

.description__product__mrp {
  font-size: 16px;
  letter-spacing: 1.2px;
}
.description__mrp,
.description__price {
  color: #b12704;
}
.description__productPrice {
  margin-top: 12px;
  margin-left: 30px;
  margin-top: 3px;
  font-weight: 700;
  font-size: 20px;

  letter-spacing: 1.2px;
}

.description__product__priceSave {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 555;
  letter-spacing: 0.6px;
}
.product__delivery {
  margin-top: 10px;
}

.product__delivery__info {
  margin-top: 20px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.product__info {
  margin-top: 0;
  padding: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__info > img {
  height: 50px;
  width: 50px;
}
.return {
  width: 30%;
  text-align: center;
  font-size: 15px;
  word-wrap: break-all;
}
.product__inStock {
  margin-top: 15px;
  color: #007600;
}
.product__outOfStock {
  margin-top: 15px;
  color: #b12704;
}

.desc {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.product__description > h2 {
  letter-spacing: 1.2px;
  font-size: 24px;
}
.divider {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.dot__icon {
  align-items: center;
  font-size: 9px !important;
  margin-top: 6px;
  margin-right: 5px;
}
.item {
  letter-spacing: 1.2px;
  font-size: 14px;
  padding-bottom: 10px;
}
.loading {
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
.addToCart {
  cursor: pointer;
  margin-bottom: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  width: 150px !important;
  padding: 3px !important;
  border-radius: 15px !important;
  background-color: #f7cf6c !important;
}
.description__cart__button {
  display: flex;
  flex-direction: row;
}
.description__cart__addRemoveButton {
  border: 1px solid black;
  border-radius: 30px;
  padding-right: 10px;
  margin-left: 50px;
}

.description__cartValue {
  /* border: 1px solid black !important;
  padding: 5px; */
  width: 40px;
  /* text-align: center !important; */
  padding: 3px !important;
  text-align: right;
  margin: auto;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
}
.addToCart:hover {
  transition: all 0.3s;
  color: #ffc73a !important;
  background-color: white !important;
}
.MuiButton-root {
  padding: 10px !important;
}
.MuiButton-label {
  font-weight: 600 !important;
  font-size: 15px !important;
}
@media (max-width: 991px) {
  .description {
    display: flex;
    flex-direction: column;
  }
  .description__imageContainer {
    margin-top: 0px;
  }
  .description__right {
    margin-top: 5px;
    padding: 15px;
  }
  .return {
    font-size: 10px;
  }
  .description__product__price {
    display: flex !important;
    width: 100% !important;

    flex-direction: column !important;
  }
}
