@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.display {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.display__left {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0.2;
}
.display__right {
  flex: 0.8;
}
.MuiListItemText-primary {
  font-size: 24px !important;
  font-weight: 999 !important;
  font-variant: normal;
  letter-spacing: 1.2px !important;
  font-family: "Roboto", sans-serif;
}
.product__image {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.display__product__price {
  width: 80% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 0;
  margin: 0;
}

.mrp {
  color: black !important;
  font-size: 14px !important;
  margin-top: 5px !important;
  font-weight: 500 !important;
}

.loading {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100px !important;
  height: 100px !important;
}
@media (max-width: 991px) {
  .display__left {
    flex: 0;
  }
  .display__right {
    flex: 1;
    width: 100%;
  }
  .MuiListItemText-primary {
    font-size: 14px !important;
    font-weight: 999 !important;
    letter-spacing: 1px !important;
    left: 0;
    font-family: "Roboto", sans-serif;
  }
  .makeStyles-list-8 {
    padding-left: 15px !important;
  }
  .MuiListItem-gutters {
    padding-left: 0px !important;
  }
  .mrp {
    color: black;
    font-size: 13px;
    margin-top: 2px;
  }
  .product__image {
    left: 0;
    align-items: flex-start;
    padding-left: 5px;
  }
  .display__product__price {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .display__product__price {
    margin-top: 6px;
    margin-left: 10px;
  }

  .product__mrp {
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .mrp,
  .price {
    color: #b12704;
  }
  .productPrice {
    margin-top: 3px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .product__priceSave {
    margin-top: 3px;
    font-size: 11px;
    font-weight: 555;
    letter-spacing: 0.6px;
  }
}
